// Global Styles
@font-face {
  font-family: "SF Sports Night";
  src: font-url("sf-sports-night.ttf") format("truetype");
}

html,
body {
  height: 100%;
  max-width: 100%;
   overflow-x: hidden;
}

body {
  padding-top: 42px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

table a, a:hover{
  color: #1F75FE;
}

#main-title {
  font-family: "SF Sports Night";
  font-size: 75px;
  letter-spacing: 5px;
  text-shadow: 1px 1px 2px black;
}

.main-image {
  background: url(image-path("ticket-banner.jpg")) no-repeat center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 362px;
}

.navbar {
  font-weight: 400;
}

.navbar-brand {
  font-family: "SF Sports Night";
}

.page-header {
  border: 0;
  color: #fff;
  font-weight: 500;
  margin-top: 10%;
  text-shadow: 1px 1px 2px black;
}

.welcome-message {
  color: white;
  text-shadow: 1px 1px 2px black;
}

.featured {
  color: #000;
  float: none;
  margin-top: -0.2%;
  text-shadow: none;
}

.featured-event {
  margin-top: 5%;
}

#index-sports,
#index-music,
#index-special {
  background: no-repeat center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 200px;

  .btn {
    margin-top: 130px;
  }
}

#index-sports {
  background-image: url(image-path("curling.jpg"));
}

#index-music {
  background-image: url(image-path("total-ghost.jpg"));
}

#index-special {
  background-image: url(image-path("hot-dog-eating-contest.jpg"));
}

.img-responsive {
  margin-bottom: 10px;
  margin-top: 10px;
}

.img-portfolio {
  margin-bottom: 30px;
}

.img-hover:hover {
  opacity: 0.8;
}

.img-small {
  width: 30%;
}

.word-length {
  max-width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.feature-card .img-responsive {
  margin-bottom: auto;
}

.feature-card.thumbnail {
  position: relative;
}

.product-card .img-responsive {
  margin-bottom: auto;
}

div .feature-card.thumbnail {
  height: 425px;
}

.product-card.thumbnail {
  height: 450px;
  position: relative;
}

.btm-right {
  bottom: 3%;
  position: absolute;
  right: 3%;
}

.alert {
  padding-left: 5%;
}
// Home Page Carousel
.carousel {
  height: 50%;

  .fill {
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
}

.carousel .item,
.carousel .item.active,
.carousel .carousel-inner {
  height: 100%;
}

#product-carousel .carousel,
#product-carousel-sm .carousel {
  margin-bottom: 0;
  padding: 0 40px 30px;
}

// The controlsy
#product-carousel .carousel-control,
#product-carousel-sm .carousel-control {
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #ffffff;
  border-radius: 23px;
  height: 40px;
  margin-top: 90px;
  width: 40px;
}

#product-carousel .carousel-control.right,
#product-carousel-sm .carousel-control.right {
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #ffffff;
  border-radius: 23px;
  color: #ffffff;
  font-size: 20px;
  height: 40px;
  margin-top: 11%;
  right: -12px;
  width: 40px;
}

#product-carousel .carousel-control.left,
#product-carousel-sm .carousel-control.left {
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #ffffff;
  border-radius: 23px;
  color: #ffffff;
  font-size: 20px;
  height: 40px;
  left: -12px;
  margin-top: 11%;
  width: 40px;
}

// The indicators
#product-carousel .carousel-indicators,
#product-carousel-sm .carousel-indicators {
  bottom: 60px;
  margin-right: -19px;
  right: 50%;
  top: auto;
}

// The colour of the indicators
#product-carousel .carousel-indicators li,
#product-carousel-sm .carousel-indicators li {
  background: #cecece;
}

#product-carousel .carousel-indicators .active,
#product-carousel-sm .carousel-indicators .active {
  background: #428bca;
}

// flash messages
.flash {
  a {
    color: #ffffff;
    text-decoration: underline;
  }
}

// 404 Page Styles

.error-404 {
  font-size: 100px;
}

.cart-header {
  border-bottom: 2px solid #dddddd;
}

.cart-header-title {
  font-weight: bold;
  padding: 8px;
}

.cart-row {
  padding-top: 10px;
}

// Pricing Page Styles

.price {
  display: block;
  font-size: 50px;
  line-height: 50px;

  sup {
    font-size: 20px;
    left: 2px;
    top: -20px;
  }
}

.period {
  display: block;
  font-style: italic;
}

// Footer Styles

footer {
  margin: 50px 0;
}

// Responsive Styles

@media(max-width:991px) {
  .customer-img,
  .img-related {
    margin-bottom: 30px;
  }
}

@media(max-width:767px) {
  .img-portfolio {
    margin-bottom: 15px;
  }

  .carousel .carousel {
    height: 70%;
  }
}

@media(min-width:768px) {
  .product-card.thumbnail {
    height: 380px;
  }

  .feature-card.thumbnail {
    height: 280px;
  }
}

@media(min-width:990px) {
  .product-card.thumbnail {
    height: 410px;
  }

  .feature-card.thumbnail {
    height: 340px;
  }
}

@media(min-width:1190px) {
  .product-card.thumbnail {
    height: 435px;
  }

  .feature-card.thumbnail {
    height: 375px;
  }
}

.stripe-button-el{
  position: absolute;
  left: 10000px;
}

#shop-now {
  margin-left: 45%;
}

.new-account-btn {
  margin-top: -7%;
}

.vendor-btn {
  margin-bottom: 2%;
}

.add-address-btn {
  margin-top: 3%;
}
