<p>Welcome to Ocho Tickets, <%= @customer.full_name %>!</p>

<p>Your new account has been created, giving you access to exclusive events including the Total Ghost concert, the Bubble Soccer Quarterfinals, and the Nathan's Hotdog Eating Qualifiers!</p>

<p>Bookmark <a href="http://ochotickets.herokuapp.com/">http://ochotickets.herokuapp.com/</a> and log in with your email address (<%= @customer.email %>) and your password.</p>
