<p><%= @vendor.full_name %>,</p>

<p>Your are now the proud owner of a store on the worlds largest weird events ticketing site. So host some crazy get together's and have people pay to attend!</p>

<p>Thank you for making Ocho Tickets what it is today!</p>
