<p><%= @name %>,</p>

<p>Your order with Ocho Tickets has been processed and is on its way!</p>

<p>For reference, your order number(s) are: <%= @order_ids.join(', ') %>.</p>

<p>Thank you for using Ocho Tickets!</p>
