<p><%= "#{@vendor.full_name}" %>,</p>

<p>A new order has been placed through Ocho Tickets by <%= "#{@customer.full_name}" %>.</p>

<p>For reference, your order number is: <%= "#{@order_id}" %>.</p>

<p>Thank you for using Ocho Tickets!</p>
